<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .message-content {
            font-family: Arial, Helvetica, sans-serif;
            max-width: 600px;
            font-size: 18px;
            line-height: 24px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="message-content">
        <p>Ola {{name}}</p>
        <br>
        <p>Sua solicitaçao de redefiniçao de senha</p>
        <p>click no link abaixo para redefinir a senha</p>
        <p>
            <a href="{{link}}">Trocar senha</a>
        </p>
        <p>Se nao foi voce que solicitou por favor ignore</p>
        <br>
    </div>
</body>
</html>